= form_for @phone_form, as: :phone, remote: true, method: 'POST', url: sap.reset_api_v1_phones_path, html: {class: 'reset_phone_form'} do |f|
  = f.hidden_field :act, value: 'reset'
  %p.text-center= t('account.label.phone_edit_desc_html')
  .account__row
    %label.label.phone
      %span.label__title= t('account.label.new_phone')
      = f.text_field :phone, class: 'label__txt required', autocomplete: 'off', :'data-filters' => 'digits'
      %button.change_phone_link.btn-link.hidden= t('account.button.change_phone')
    %label.label.password.hidden
      %span.label__title= t('account.label.current_password')
      = f.password_field :password, class: 'label__txt required', autocomplete: 'off'
    %label.label.code.hidden
      %span.label__title= t('account.label.code')
      = f.text_field :code, class: 'label__txt required'
    .account__btn
      %button.btn{:'data-reset' => t('account.button.get_code'), :'data-check' => t('account.button.send_code')}
        = t('account.button.get_code')
:javascript
  $('.reset_phone_form').resetPhone();