= form_for form, :url => login_path do |f|
  %div
    = f.label :phone, t('order.no_registration.phone')
    = f.text_field :phone
    = form.errors[:phone].first
  %div
    = f.label :name
    = f.password_field :name
    = form.errors[:name].first

  %div
    =f.submit t('order.send')