= content_for :head do
  = stylesheet_link_tag :application

= content_for :bottom do
  = javascript_include_tag :application

= content_for :base_content do
  / BEGIN .page
  .page
    / BEGIN .wrap
    .wrap.wrap_main
      / BEGIN .m-header
      .m-header
        .container
          %a.logo{href: Settings.common.domain.main_link, title: Settings.common.title }
            %span.logo__pic
          = render :partial => 'partials/user_state'

          .social.social_blue
            = render :partial => "partials/common/social"
      / BEGIN .m-slider
      .m-slider.js-m-slider
        .container
          .m-slider__cart
            %strong
              Итого
              %span
                5246
                %sup 00
                %i.rub Р
              %em
            %button.m-slider__btn к покупкам
          .m-slider__pager
          .cycle-slideshow{"data-cycle-fx" => "fade", "data-cycle-pager" => ".m-slider__pager", "data-cycle-slides" => "> div", "data-cycle-timeout" => "3000"}
            .m-slider__item{style: "background-image: url(/assets/slider-pic.png);"}
              .m-slider__title-1 ВКУСНЫЕ ИДЕИ ДЛЯ ЛЕТНЕГО МЕНЮ
              .m-slider__title-2 С НОВЫМИ МОРЕПРОДУКТАМИ ОТ ГЛОБУС ГУРМЭ
              %button.m-slider__btn к покупкам
            .m-slider__item{style: "background-image: url(/assets/slider-pic1.png);"}
              .m-slider__title-1 С МОРЕПРОДУКТАМИ ОТ ГЛОБУС ГУРМЭ
              .m-slider__title-2 ВКУСНЫЕ ИДЕИ ДЛЯ ЛЕТНЕГО МЕНЮ
              %button.m-slider__btn к покупкам
      / BEGIN .m-nav
      .m-nav
        %nav.container
          %a{href: "#"} Рецепты
          %a{href: "#"} новости
          %a{href: "#"} FAQ
          %a{href: "#"} Акции
      = render :partial => 'partials/common/stores_main', :locals => {stores: @stores}

      / BEGIN .m-benefits
      .m-benefits
        %ul.container
          %li.m-benefits__item-1
            %i
            %span 18 супермаркетов и 98 различных минимаркетов одном месте
          %li.m-benefits__item-2
            %i
            %span Покупаете не выходя из дома, не тратя время на поезду. Лишь 20 мин на выбор и заказ товара
          %li.m-benefits__item-3
            %i
            %span Доставка в удобный для вас день и время
          %li.m-benefits__item-4
            %i
            %span Мы любим наших клиентов и постоянно дарим им подарки
      / BEGIN .m-info
      .m-info
        - unless current_user
          %ul.container
            %li Сохраняются данные - адреса, список покупок, избранное и всегда можно повторить заказ
            %li При регистрации вы получаете приятный бонус в размере 400 рублей на ваш счет!
            %li Сохраняются данные - адреса, список покупок, избранное и всегда можно повторить заказ
            %li
              %button.btn{popup_class: 'popup_welcome', url: login_path, :'data-popup' => 'true'} РЕГИСТРАЦИЯ
      .container.container_cols
        .m-about
          .title О НАС
          .m-about__in
            %p
              %b GloboMarket
              это новый тип супермаркета, который позволяет сравнить цены и заказать продукты в Вашем любимом супермаркете. Наша цель, чтобы помочь вам сэкономить время и деньги, давая вам наилучшие опыт покупок в Интернете.
            %p Мы предлагаем товвары ведущих ретейлеров России. Все, что вам нужно сделать, это выбрать свой любимый супермаркет - Азбука Вкуса, Алые Паруса, Зеленый Перекресток и вперед за покупками!
            %p Это зависит от вас, как вы используете наш сайт: Вы можете заказать Вашу корзину онлайн, распечатать Вашу корзину как список покупок и взять его с собой при походе в ближайщий супермаркет или просто сравнить цены онлайн.
        .m-news
          .title НОВОСТИ
          %ul.m-news__list
            %li
              = render :partial => 'partials/widgets/vk_group'
            -#%li
            -#  %a{href: "#"} Мастер-класс по Испанским сырам LA ANTIGUA DE FUENTESAUCO
            -#  %span 10.06.2013
            -#  %p 6 и 7 июня в 18:00 расскажем о культуре и тонкостях потребления сыра
            -#%li
            -#  %a{href: "#"} Мастер-класс по Греческой фасоли Arosis («Аросис»)
            -#  %span 10.06.2013
            -#  %p 30 мая в 18:00 мы развеем миф о том, что фасоль очень трудно и долго готовить

      .push
    / BEGIN .footer
    = render :partial => 'partials/footer'