= content_for :head do
  = stylesheet_link_tag :main

= content_for :bottom do
  = javascript_include_tag :main

= content_for :base_content do
  / BEGIN .page
  .page
    / BEGIN .wrap
    .wrap.wrap_main
      / BEGIN .m-header
      .m-header
        .container
          %a.logo{href: Settings.common.domain.main_link, title: Settings.common.title }
            %span.logo__pic
          ._user_state_wrapper
            = user_state 'main'

          .social.social_blue
            = render :partial => 'partials/common/social'
      / BEGIN .m-slider
      .m-slider.js-m-slider
        .container
          .m-slider__cart
            %strong
              Итого
              %span
                5246
                %sup 00
                %i.rub Р
              %em
            %button.m-slider__btn к покупкам
          .m-slider__pager
          .cycle-slideshow{"data-cycle-fx" => "fade", "data-cycle-pager" => ".m-slider__pager", "data-cycle-slides" => "> div", "data-cycle-timeout" => "3000"}
            .m-slider__item{style: "background-image: url(/assets/slider-pic.png);"}
              .m-slider__title-1 ВКУСНЫЕ ИДЕИ ДЛЯ ЛЕТНЕГО МЕНЮ
              .m-slider__title-2 С НОВЫМИ МОРЕПРОДУКТАМИ ОТ ГЛОБУС ГУРМЭ
              %button.m-slider__btn к покупкам
            .m-slider__item{style: "background-image: url(/assets/slider-pic1.png);"}
              .m-slider__title-1 С МОРЕПРОДУКТАМИ ОТ ГЛОБУС ГУРМЭ
              .m-slider__title-2 ВКУСНЫЕ ИДЕИ ДЛЯ ЛЕТНЕГО МЕНЮ
              %button.m-slider__btn к покупкам
      / BEGIN .m-nav
      .m-nav
        %nav.container
          %a{href: help_path}= t('index.nav.help')
          %a{href: blog_list_path(:news)}= t('index.nav.news')
          %a{href: "#"}= t('index.nav.search')
          %a{href: "#"}= t('index.nav.promo')
      = render :partial => 'partials/common/stores_main', :locals => {stores: @stores}

      / BEGIN .m-benefits
      .m-benefits
        %ul.container
          %li.m-benefits__item-1
            %i
            %span 18 супермаркетов и 98 различных минимаркетов одном месте
          %li.m-benefits__item-2
            %i
            %span Покупаете не выходя из дома, не тратя время на поезду. Лишь 20 мин на выбор и заказ товара
          %li.m-benefits__item-3
            %i
            %span Доставка в удобный для вас день и время
          %li.m-benefits__item-4
            %i
            %span Мы любим наших клиентов и постоянно дарим им подарки
      / BEGIN .m-info
      .m-info
        - unless current_user
          %ul.container
            %li Сохраняются данные - адреса, список покупок, избранное и всегда можно повторить заказ
            %li При регистрации вы получаете приятный бонус в размере 400 рублей на ваш счет!
            %li Сохраняются данные - адреса, список покупок, избранное и всегда можно повторить заказ
            %li
              %button.btn{:'data-popup' => login_path} РЕГИСТРАЦИЯ
      .container.container_cols
        = render partial: 'common/index/partials/main_about'
        = render partial: 'common/index/partials/main_news'

      .push
    / BEGIN .footer
    = render :partial => 'partials/footer'