.account__content.account__content-account
  .account__personal
    / FirstName, LastName  etc
    %h4.account__header= t('views.account.title.main')
    = form_for @forms[:private], as: :private, remote: true, method: 'PATCH', url: sap.user_registration_path do |f|
      %input{type: 'hidden', value: @main_form.to_s}
      .account__row
        .account__col
          %label.label
            %span.label__title= t('views.account.label.phone')
            .account__phone-in

              %button{:class => 'btn-dashed', :'data-popup' => '/user/phone/reset', :'data-title' => t('views.account.label.phone_edit')}
                %strong= format('+%<first>s *** *** ** - %<last>s', {first: @forms[:private].phone[0], last: @forms[:private].phone[-2..-1] })

        .account__col
          %label.label
            %span.label__title= t('views.account.label.name')
            = f.text_field :name, {class: 'label__txt required'}

        .account__col
          %label.label
            %span.label__title= t('views.account.label.email')
            = f.text_field :email, {class: 'label__txt'}

        .account__btn
          %button.btn= t('common.btn.save')
    / Addresses
    -#%h4.account__header= t('views.account.title.delivary_address')
    -#= form_for :user, remote: true, method: 'PATCH', url: sap.user_registration_path do |f|
    -#  .account__row
    -#    .account__col{style: 'display:none'}
    -#      %label.label
    -#        %span.label__title Название
    -#        %input.label__txt{placeholder: 'Дом', type: 'text'}/
    -#
    -#    .account__col
    -#      %label.label
    -#        %span.label__title= t('views.account.title.city')
    -#        %select{name: :city, class: 'form-control'}
    -#          %option= t('common.city.moscow')
    -#
    -#    .account__col
    -#      %label.label
    -#        %span.label__title Адрес
    -#        %input.label__txt{placeholder: "ул. Победы, д.6, кв.4", type: "text"}/
    -#    .account__btn
    -#      %button.btn= t('common.btn.save')

    / Password
    %h4.account__header= t('views.account.title.change_password')
    = form_for @forms[:password], as: :password, remote: true, method: 'PATCH', url: sap.user_registration_path do |f|
      .account__row
        .account__col
          %label.label
            %span.label__title= t('views.account.label.current_password')
            = f.password_field :current_password, {class: 'label__txt required'}
            %span.label__help
        .account__col
          %label.label
            %span.label__title= t('views.account.label.new_password')
            = f.password_field :password, {class: 'label__txt required'}
            %span.label__help
        .account__col
          %label.label
            %span.label__title= t('views.account.label.confirm_password')
            = f.password_field :password_confirmation, {class: 'label__txt required'}
            %span.label__help
        .account__btn
          %button.btn= t('common.btn.change')
= content_for :js do
  :javascript
    $(function(){
      $('#new_password').ajaxForm({
        onSuccess: function() {
          console.log($(this));
        }
      });
    });
/
  .account__col
    %label.label.label_mod
      %span.label__title Email
      %input.label__txt{placeholder: "yourmail@mail.com", type: "password"}/
    %label.label-check
      %input{checked: "checked", type: "checkbox"}/
      %i
      %span Подписаться на новости
