/ BEGIN .about
.container-white-bg
  .container
    .title о проекте
    .container-white-bg__in
      .title.title_small Немного о нас
      .about__column
        %p
          %b GloboMarket
          это новый тип супермаркета, который позволяет сравнить цены и заказать продукты в Вашем любимом супермаркете. Наша цель, чтобы помочь вам сэкономить время и деньги, давая вам наилучшие опыт покупок в Интернете.
          %p Мы предлагаем товвары ведущих ретейлеров России. Все, что вам нужно сделать, это выбрать свой любимый супермаркет - Азбука Вкуса, Алые Паруса, Зеленый Перекресток и вперед за покупками!
          %p Это зависит от вас, как вы используете наш сайт: Вы можете заказать Вашу корзину онлайн, распечатать Вашу корзину как список покупок и взять его с собой при походе в ближайщий супермаркет или просто сравнить цены онлайн.
/ END .about

/ BEGIN .we-work
.we-work
  .title.title_small С кем мы работаем
  .we-work__in
    = render :partial => 'partials/common/stores_main', :locals => {stores: @stores}
/ END .we-work

/ BEGIN .team
.team
  .title.title_small Наша команда
  .team__in
    .container
      .team__list
        - @team.each do |key, person|
          .team__person
            %span.image= image_tag("/assets/faces/#{key}.png")
            %strong= person[:name]
            %span= person[:title]

/ END .team