.title= t('views.contacts.contacts')
/ BEGIN .contacts
.contacts
  .contacts__cols
    .contacts__column
      .title.title_small= t('views.contacts.how_find_us')
      .contacts__desc= t('views.contacts.how_find_us_desciption')
      .contacts__item
        .contacts__type= t('views.contacts.phones') + ':'
        %ul.contacts__detail
          %li
            %strong= Settings.contacts.phone
      .contacts__item
        .contacts__type= t('views.contacts.email')
        .contacts__detail
          %a{href: "mailto:#{Settings.contacts.email}"}= Settings.contacts.email
      .contacts__item
        .contacts__type= t('views.contacts.skype') + ':'
        %ul.contacts__detail
          %li
            %a{href: "skype:#{Settings.contacts.skype}"}= Settings.contacts.skype
      .contacts__desc
        %p= Settings.contacts.address
        %p= t('views.contacts.office')
      .contacts__desc
        %p= t('views.contacts.social')
        %p
          .social.social_blue
            = render :partial => 'partials/common/social'
    .contacts__column
      .title.title_small Напишите нам
      .contacts__desc Воспользуйтесь этой формой быстрой связи, для того, чтобы сразу задать нам интересующие вас вопросы.
      .contacts__feedback
        %label.label
          %span.label__title Как вас зовут?
          %input.label__txt{placeholder: "Вася Иванов", type: "text"}/
        %label.label
          %span.label__title Ваш Email
          %input.label__txt{placeholder: "mail@mail.com", type: "text"}/
          %span.label__help На вышлем ответы на все ваши вопросы на указанный Email
        %label.label
          %span.label__title Ваше сообщения
          %textarea.label__area{placeholder: "Текст вашего сообщения", type: "text"}
        %button.btn отправить
    .contacts__column
      .title.title_small Наши вакансии
      .contacts__desc Мы постоянно ищем таланты для того чтобы пополнить ряды нашей команды. Не стесняйтесь слать нам свои резюме!
      -#.vacancy
        -#.vacancy__item.is-active
        -#  .vacancy__top
        -#    %button Frontend-разработчик
        -#    %strong
        -#      от 85 000
        -#      %i.rub Р
        -#  .vacancy__desc{style: "display: block;"}
        -#    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        -#    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  / BEGIN .map
  .map
    %iframe{frameborder: "0", height: "630", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.ru/maps?f=q&source=s_q&hl=ru&geocode=&q=%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&aq=0&oq=%D0%BA%D0%B8%D0%B5%D0%B2&sll=55.354135,40.297852&sspn=21.27986,67.631836&ie=UTF8&hq=&hnear=%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&t=m&ll=50.438757,30.578899&spn=0.034439,0.162992&z=14&output=embed", width: "100%"}
  / END .map
/ END .contacts