%h1= t('.goods_header') + link_to( t('.add_good'), new_staff_good_path)
%table
  %tr
    %th ID
    %th Name
    %th Actions

  - @list.each do |good|
    %tr
      %td= good.id
      %td
        %h3= good.name
        %div
          - Sap::GoodList.find_all_by_good_id(good.id).each do |list|
            %div= list.store.name + ' | ' + list.price.to_s + 'р.'
      %td
        %span= link_to 'Show', staff_good_path(good)
        \|
        %span= link_to 'Destroy',  "/staff/goods/#{good.id}", method: :delete, data: { confirm: 'Are you sure?' }
        \|
        %span= link_to 'Edit', edit_staff_good_path(good)