%h1 Checkout
.row-fluid
  .span4
    %h3= t('order.login')
    = render :partial => 'user/login/form', :locals => {:form => @login_form}
  .span4
    %h3= t('order.register')
    = render :partial => 'user/register/form', :locals => {:form => @register_form}
  .span4
    %h3= t('order.no_registration')