%footer.footer
  .footer__in
    .footer__left
      %a.logo{href: Settings.common.domain.main_link}
        %span.logo__pic.logo__pic_white
      .social
        = render :partial => 'partials/common/social'
    %nav.footer__nav
      %ul
        %li= t('views.common.footer.menu.information')
        %li
          %a{href: static_page_path(:contacts)}= t('views.common.footer.menu.contacts')
        %li
          %a{href: static_page_path(:about)}= t('views.common.footer.menu.abount')
        %li
          %a{href: static_page_path(:help)}= t('views.common.footer.menu.help')

      %ul.hidden
        %li= t('views.common.footer.menu.stores')
        - @stores.each do |store|
          %li
            %a{href: "/goods/#{store.url}"}= store.name

      %ul
        %li= t('views.common.footer.menu.addition')
        -#%li
        -#  %a{href: '/recipes'}= t('views.common.footer.menu.recipes')
        %li
          %a{href: blog_list_path}= t('views.common.footer.menu.blog')
        %li
          %a{href: static_page_path(:promo)}= t('views.common.footer.menu.promo')

    .copyright
      = Time.now.year
      ©
      = Settings.common.title

/ BEGIN .overlay
.overlay
