%h1= 'Sign Up'
= form_for( @form, :url => register_path, :method => :post, :id => 'register' ) do |f|
  .field
    = f.label :name
    = f.text_field :name
    - @form.errors[:name].each do |mes|
      = mes
  .field
    = f.label :phone, t('Phone')
    = f.text_field :phone
    - @form.errors[:phone].each do |mes|
      = mes
  .field
    = f.label :password, t('Password')
    = f.password_field :password
    - @form.errors[:password].each do |mes|
      = mes
  .submit
    = f.submit 'Sign Up'