%a.social__ok{href: "#{Settings.links.ok_group}"}
  %i
%a.social__fb{href: "#{Settings.links.fb_group}"}
  %i
%a.social__vk{href: "#{Settings.links.vk_group}"}
  %i
/%a.social__tw{href: "#{Settings.links.twitter}"}
/  %i
%a.social__rss{href: "#{Settings.links.rss}"}
  %i