/ BEGIN .popup-welcome
.popup__top
  %button.popup__btn-close
  .popup__title= t 'popup.welcome'
.popup__in{style: 'opacity:0'}
  .popup__row
    .popup__col
      = form_for :user, url: sap.user_session_path, remote: true, :html => {id: 'popup_signin_form'} do |f|
        .popup__message
          %h2= t 'popup.enter'
        %label.label
          %span.label__title= t 'popup.label.login'
          %span.label__in
            %i.ico-login
            = f.text_field :login, {class: 'label__txt'}
        %label.label
          %span.label__title= t 'popup.label.password'
          %span.label__in
            %i.ico-pass
            = f.password_field :password, {class: 'label__txt'}
        %label.label-check
          %input{checked: 'checked', type: 'checkbox'}/
          %i
          %span= t 'popup.label.remember_me'
        %button.btn= t 'popup.button.enter'
        .popup__pass-forgot
          %a{href: '#'}= t 'popup.forget_password'
        .popup__pass-help
          *
          = t 'popup.required_fields'
    .popup__col
      = form_for :user, url: sap.user_registration_path, remote: true, :html => {id: 'popup_signup_form'} do |f|
        .popup__message
          %h2= t 'popup.register'
        %label.label
          %span.label__title
            = t 'popup.label.name'
            *
          %span.label__in
            %i.ico-login
            = f.text_field :name, {class: 'label__txt'}
        %label.label
          %span.label__title
            = t 'popup.label.phone'
            *
          %span.label__in
            %i.ico-phone
            = f.text_field :phone, {class: 'label__txt'}
        %label.label
          %span.label__title
            = t 'popup.label.password'
          %span.label__in
            %i.ico-pass
            = f.password_field :password, {class: 'label__txt'}
        %button.btn= t 'popup.button.ready'
/ END .popup-welcome

:javascript
  $(function(){
    $('.popup_welcome .popup__in').animate({opacity: 1}, 500);

    $('#popup_signup_form').AjaxForm({
      name: 'user'
    });

    $('#popup_signin_form').AjaxForm({
      name: 'user'
    });
  });

