.popup__row
  .popup__col.popup__col_left
    = form_for :user, url: sap.user_session_path, remote: true, :html => {class: '_popup_signin_form'} do |f|
      .popup__message
        %h3= t 'popup.enter'
      %label.label
        %span.label__title= t 'popup.label.phone'
        %span.label__in
          %i.ico-phone
          = f.text_field :login, {class: 'label__txt phonenumber'}
      %label.label
        %span.label__title= t 'popup.label.password'
        %span.label__in
          %i.ico-pass
          = f.password_field :password, {class: 'label__txt'}

      %button.btn.btn-globo= t 'popup.button.enter'
      .popup__pass-forgot
        %a{href: remember_path, target: '_blank'}= t 'popup.forget_password'
      .popup__pass-help
        *
        = t 'popup.required_fields'
  .popup__col.popup__col_right
    = form_for :user, url: sap.user_registration_path, remote: true, :html => {class: '_popup_signup_form'} do |f|
      .popup__message
        %h3= t 'popup.register'
      %label.label
        %span.label__title
          = t 'popup.label.name'
          *
        %span.label__in
          %i.ico-login
          = f.text_field :name, {class: 'label__txt'}
      %label.label
        %span.label__title
          = t 'popup.label.phone'
          *
        %span.label__in
          %i.ico-phone
          = f.text_field :phone, {class: 'label__txt phonenumber', alias: :login, autocomplete: :off}
      %label.label
        %span.label__title
          = t 'popup.label.password'
          *
        %span.label__in
          %i.ico-pass
          = f.password_field :password, {class: 'label__txt', autocomplete: :off}
      %button.btn.btn-globo= t 'popup.button.ready'

:javascript
  $(function(){

    $('._popup_signup_form').ajaxForm({
      onSuccess: function(response){
        $(document).trigger(UserState.prototype.EVT_UPDATE);
        window.$gmPopup.ajaxPopup('hide');
      }
    });

    $('._popup_signin_form').ajaxForm({
      onSuccess: function(response){
        $(document).trigger(UserState.prototype.EVT_UPDATE);
        window.$gmPopup.ajaxPopup('hide');
      }
    });

    $('.phonenumber').mask('+7(999) 999-99-99');
  });

