= content_for :main do
  %h1 Loading...

= content_for :left_side do
  %h1 Filters

= content_for :js do
  :javascript
    $(function(){

      //TODO: Cache it
      var data = {
        order     : #{@order.to_json},
        stores    : #{@stores.to_json},
        categories: #{@categories.to_json}
      };

      var order = #{@order.to_json};

      Sap.initialize(data);
      Sap.views.basket.render();
      Sap.initRoute();

      $(document).on("click", "a[href^='/goods']", function(evt) {
        evt.preventDefault();
        Backbone.history.navigate($(this).attr("href").replace('/goods',''), true);
      });
    });
