= content_for :content do
  .layout
    = goods_search
    = goods_breadcrumbs @category
    = category_filter
    #good-app-container.center{'ng:controller' => 'GoodsController', 'ng:init' => 'init()'}
      %section.catalog
        .catalog__list

= content_for :js do
  = javascript_include_tag :store