%div#content{:'ng-controller' => 'GoodsCtrl', :'ng-init' => 'index()'}
  .tools.pull-left
    %a{:href=> new_admin_good_path} Add new
    %table.table
      %thead
        %tr
          %th Number
          %th Name
          %th Description
          %th Actions
      %tbody
        - @list.each do |good|
          %tr
            %td
              %a{:href => admin_good_path("#{good.id}")}= good.id
            %td= good.name
            %td= good.description
            %td
              %div
                =link_to 'Show', admin_good_path(good)
                \|
                = link_to 'Edit', edit_admin_good_path(good)
                \|
                = link_to 'Destroy', admin_good_path(good), method: :delete, data: { confirm: 'Are you sure?' }
