%h1= 'Create new password'
-# Token not valid
- if @user.nil?
  %div
    = 'Token not valid. Please try reset again.'
    %a{:href => password_path}= 'Reset password'

-else
  = form_tag(password_path, :remote => true, :method => :post) do |f|
    = hidden_field_tag :token, @token
    .field
      = label_tag(:password, 'Password')
      = password_field_tag(:password)

    .field
      = label_tag(:password_confirm, 'Password Confirm')
      = password_field_tag(:password_confirm)
    .actions
      = submit_tag 'Save'