%h1= 'Sign Up'
= form_for( :user, :url => register_path, :method => :post, :remote => true, :id => 'register' ) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :login, 'Phone'
    = f.text_field :login
  .field
    = f.label :password, 'Password'
    = f.password_field :password
  .submit
    = f.submit 'Sign Up'