%h1= 'Sign Up'
= form_for( :customer, :url => register_path, :method => :post, :remote => true, :id => 'register' ) do |f|
  .field
    = f.fields_for :user do |u|
      = u.label :name
      = u.text_field :name
  .field
    = f.label('Email')
    = f.text_field :email
  .submit
    = f.submit 'Sign Up'
