%h1= t('.registration_title')
= form_for( :customer, :url => '/register', :method => :post ) do |f|
  .field
    = f.label (t '.name')
    = f.text_field :name
  .field
    = f.label(t '.email')
    = f.text_field :email
  .field
    %label= (t '.password')
    = password_field(:user, :password)
  .submit
    = f.submit t '.register_customer'
%h1= flash[:notice]