-# Set new password
- if @token
  = render :partial => 'new_password_form'
- else
  %h1= 'Reset password'
  %div
    = flash[:alert]
  = form_tag(password_reset_path, :method => :post) do |f|
    %div
      = label_tag :login, 'Login'
      = text_field_tag :login
    %div
      = submit_tag 'Reset'
