%h1= Time.now
%h1= @is_new ? 'Create password' : 'Restore password'
= form_tag(password_path, :remote => true, :method => :post) do |f|
  = hidden_field_tag :token, @token
  .field
    = label_tag(:password, 'Password')
    = password_field_tag(:password)

  .field
    = label_tag(:password_confirm, 'Password Confirm')
    = password_field_tag(:password_confirm)
  .actions
    = submit_tag