= content_for :head do
  = stylesheet_link_tag :application, :media => :all

= content_for :bottom do
  = javascript_include_tag :application

= content_for :base_content do
  / Logo, menu, user
  #header
    .logo
      %h1
        %a{:href => "/"}
          %img{src: "/assets/logo.png", alt: "Globomarket"}

    / User state
    = render :partial => 'partials/current_user', :locals => {:user => current_user}

  #main-menu
    - store_list
    - category_list

  / Show flash message
  #notice
  - display_flash_message

  / Content
  #wrapper
    / Left menu - store select, filters
    .content-left



    /  Right menu
    .content-right
      .basket
        %h2
          = t('goods.basket')
          %span.sum 0
        %ul.basket-items
        %a{:href => ''}= t('goods._basket.buy')

    / Content
    .content-main
      = content_for?(:main) ? yield(:main) : yield

  = render :partial => 'partials/footer'

= render :template => 'layouts/base'