= content_for :content do
  / Content
  #wrapper.without-leftside.container-fluid
    / Content
    .content-main
      = content_for?(:main) ? yield(:main) : yield

    /  Right menu
    .content-right
      .basket
        %h2
          = t('goods.basket')
          %span.sum 0
        %ul.basket-items
        %a{:href => ''}= t('goods._basket.buy')




= render :template => 'layouts/application'