!!!
%html{'lang' => "en"}

  %head
    %title= @title || APP_DEFAULT_NAME
    = yield :head
    = csrf_meta_tag

  %body{:class => "#{content_for?(:body_class) ? yield(:body_class) : 'market'}"}
    .container-fluid
      = yield :base_content

    / JS Files anf page script
    .scripts.hide
      = yield :bottom # Include js-files
      = yield :js     # Page scripts