!!!
/[if lt IE 7] <html class="no-js lt-ie7">
/[if IE 7] <html class="no-js ie7">
/[if IE 8] <html class="no-js ie8">
/[if IE 9] <html class="no-js ie9">
/ [if gt IE 9]><!
%html.no-js{'ng-app' => "#{content_for?(:ng_app) ? yield(:ng_app) : ''}", 'lang' => "en"}
  / <![endif]

  %head
    %title= @title || APP_DEFAULT_NAME
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body{:class => "#{content_for?(:body_class) ? yield(:body_class) : 'market'}"}

    / if you have admin rules:
    .container-fluid

      .row-fluid.l-admin
        .b-admin.g-clearfix
          %a.admin-logo{href: '/admin/'} adminarea
          .admin-resize
            %ul.admin-resize-list.g-clearfix
              %li.admin-resize-item
                %span Resize:
              %li.admin-resize-item
                %a.icon-monitor{title: 'Full size'}
              %li.admin-resize-item
                %a.icon-tablet{title: 'Tablet'}
              %li.admin-resize-item
                %a.icon-mobile{title: 'Mobile'}
      / end if



      / Logo, menu, user
      .row-fluid.l-header
        .l-container.g-clearfix
          .g-clearfix
            .b-logo
              %h1
                %a{href: "/"}
                  %img{src: " /assets/logo.png", alt: "Globomarket"}

            .b-menu.g-clearfix
              %ul.menu-list.g-clearfix
                %li.menu-item.active
                  %a.menu-link{href: "/goods"}
                    %span.upper-text So, let's start to
                    %span.menu-text Choose
                    %span.lower-text something to eat
                    %span.menu-arrow
                %li.menu-item
                  %a.menu-link{href: "/pay"}
                    %span.upper-text Now you can
                    %span.menu-text Pay
                    %span.lower-text for the goods
                    %span.menu-arrow
                %li.menu-item
                  %a.menu-link{href: "/checkout"}
                    %span.upper-text Soon you will
                    %span.menu-text Get
                    %span.lower-text your goods
                    %span.menu-arrow

            = render :partial => 'partials/current_user', :locals => {:user => current_user}

      = yield :content
