!!!
%html{'lang' => "ru"}

  %head
    %title
      =  content_for?(:title) ? yield(:title) : Settings.common.title
      \|
      = Settings.common.page_title
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link(rel="icon" href="/favicon.ico" type="image/x-icon")

    %noscript
      %meta(http-equiv="refresh" content = "0; URL=/badbrowser")

    = yield :head

    / Add development styles
    - if Rails.env == "development"
      = stylesheet_link_tag "common/development"

    = csrf_meta_tag


  %body
    = content_for?(:base_content) ? yield(:base_content) : yield

    .popup.js-popup{style: 'display:none'}

    / JS Files anf page script
    .js-scripts
      = yield :bottom # Include js-files
      = yield :js     # Page scripts

      / Add development settings
      - if Rails.env == 'development'
        = javascript_include_tag 'common/debug'