!!!
%html
  %head
    %title= @title || APP_DEFAULT_NAME
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body{:class => "#{content_for?(:body_class) ? yield(:body_class) : 'market'}"}
    .l-wrapper
      = yield :content
