!!!
/[if lt IE 7] <html class="no-js lt-ie7">
/[if IE 7] <html class="no-js ie7">
/[if IE 8] <html class="no-js ie8">
/[if IE 9] <html class="no-js ie9">
/ [if gt IE 9]><!
%html.no-js{'ng-app' => "#{content_for?(:ng_app) ? yield(:ng_app) : ''}", 'lang' => "en"}
  / <![endif]

  %head
    %title= @title || APP_DEFAULT_NAME
    = yield :head
    = csrf_meta_tag
  %body{:class => "#{content_for?(:body_class) ? yield(:body_class) : 'market'}"}

    / if you have admin rules:
    .container-fluid
      .row-fluid.l-admin
        .b-admin.g-clearfix
          %a.admin-logo{href: '/admin/'} adminarea
          .admin-resize
            %ul.admin-resize-list.g-clearfix
              %li.admin-resize-item
                %span Resize:
              %li.admin-resize-item
                %a.icon-monitor{title: 'Full size'}
              %li.admin-resize-item
                %a.icon-tablet{title: 'Tablet'}
              %li.admin-resize-item
                %a.icon-mobile{title: 'Mobile'}
      / end if
      = yield :base_content
