!!!
%html{'lang' => "en"}

  %head
    %title= @title || APP_DEFAULT_NAME
    = yield :head
    = csrf_meta_tag

  %body
    = content_for?(:base_content) ? yield(:base_content) : yield

    / JS Files anf page script
    .js-scripts
      = yield :bottom # Include js-files
      = yield :js     # Page scripts