= content_for :content do

  / Logo, menu, user
  .l-header
    .g-clearfix
      .b-logo
        %h1
          %a Globomarket

      .b-menu.g-clearfix
        %ul.menu-list
          %li.menu-item
            %a{href: "/goods"} Choose
          %li.menu-item
            %a{href: "/pay"} Pay
          %li.menu-item
            %a{href: "/checkout"} Get

      .b-user
        %ul
          %li
            %a Sergey Makhnatkin
          %li
            %span in basket:
            %span 10
          %li
            %span you have:
            %span 6&nbsp;470 rub.

  / Categories, search
  .l-sub-header
    .g-clearfix
      .b-shop-choose
        %label Вы в магазине:
        %select
          %option Azbuka Vkusa
          %option Zelenii Perekrestok
          %option Globo

      .b-goods-search
        %input{type: "text", placeholder: "Product search"}

    / Categories menu
    .b-goods-categories.g-clearfix
      %ul.goods-categories-head-category.g-clearfix
        - @categoryTree.each do |cat|
          %li.goods-categories-item
            %a.goods-categories-title= cat[:name]
            %ul.goods-categories-sub-category
              - cat[:children].each do |children|
                %li.goods-categories-item
                  %a.goods-categories-title= children[:name]

  / Main content
  .l-main
    = yield :main

  / Right column
  .l-right
    = yield :right
= render :template => 'layouts/base'