= content_for :content do

  / Categories, search
  .row-fluid.l-sub-header
    .l-container.g-clearfix#search
      = store_list

      .b-goods-search
        .b-search
          .search-wrapper
            %input{type: "text", placeholder: "Product search"}
          .search-button

    .l-container.g-clearfix
      / Categories menu
      = category_list


  / Content
  .row-fluid
    .span2
      = yield :main
    .span10
      = yield :right











= render :template => 'layouts/base'