= content_for :ng_app do
  sap

= content_for :application_content do
  / Content
  .row-fluid
    .span2
      = yield :main
    .span10
      = yield :right

= render :template => 'layouts/application'