!!!
%html
  %head
    %title= 'ADMIN: ' + ( @title || APP_DEFAULT_NAME )
    = stylesheet_link_tag :staff
    = javascript_include_tag :staff
    = csrf_meta_tag
  %body{:class => 'staff'}
    #wrapper
      = yield
